@import "tailwindcss";

@theme {
  --breakpoint-nav-md: 600px;
  --breakpoint-nav-lg: 840px;
}

@theme inline {
  --color-junior: #22c55e;
  --color-junior-plus: #84cc16;
  --color-middle: #3b82f6;
  --color-strong-middle: #8b5cf6;
  --color-senior: #f59e0b;
}
